In [ ]:
import pandas as pd
import numpy as np

In [ ]:
file_1 = pd.read_csv('sales_sheet_1.csv')

In [ ]:
file_2 = file_1.copy()

In [ ]:
file_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29109 entries, 0 to 29108
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Quarter          29109 non-null  object
 1   Encrypted Email  29109 non-null  object
 2   Country          29109 non-null  object
 3   Company Name     29109 non-null  object
 4   Tier             29109 non-null  object
 5   Employee Size    29109 non-null  object
 6   Industry         29109 non-null  object
 7   Revenue          29109 non-null  int64
 8   Margin           29109 non-null  float64
 9   Orders           29109 non-null  int64
 10  AOV              29109 non-null  float64
 11  Units            29109 non-null  int64
 12  Recency          29109 non-null  int64
dtypes: float64(2), int64(4), object(7)
memory usage: 2.9+ MB

In [ ]:
file_1.describe()

             Revenue         Margin  ...         Units       Recency
count   29109.000000   29109.000000  ...  29109.000000  29109.000000
mean     4698.240819    1136.165859  ...      4.724518    706.122849
std     10051.533506    2959.118830  ...     10.976201    146.732250
min        14.000000       0.000000  ...      1.000000    504.000000
25%      1124.000000     168.000000  ...      1.000000    577.000000
50%      1869.000000     434.000000  ...      2.000000    677.000000
75%      4209.000000    1007.000000  ...      4.000000    819.000000
max    298882.000000  160962.000000  ...    422.000000   1051.000000

[8 rows x 6 columns]

In [ ]:
file_2.drop(["Tier","AOV","Employee Size","Encrypted Email"],axis = 1,inplace = True)

In [ ]:
file_2

       Quarter         Country   Company Name  ... Orders  Units  Recency
0      FY19'Q1       Australia      Customer1  ...      1      3     1019
1      FY19'Q1  United Kingdom      Customer2  ...      1      1     1001
2      FY19'Q1   United States      Customer3  ...      1      3      962
3      FY19'Q1   United States      Customer4  ...      2     16     1005
4      FY19'Q1   United States      Customer5  ...      1      4     1036
...        ...             ...            ...  ...    ...    ...      ...
29104  FY20'Q2  United Kingdom  Customer20022  ...      1      1      529
29105  FY20'Q2  United Kingdom  Customer20023  ...      1      1      513
29106  FY20'Q2  United Kingdom  Customer20024  ...      1      1      535
29107  FY20'Q2  United Kingdom  Customer20025  ...      1      1      548
29108  FY20'Q2  United Kingdom  Customer20026  ...      1      1      508

[29109 rows x 9 columns]

In [ ]:
file_2.describe()

             Revenue         Margin        Orders         Units       Recency
count   29109.000000   29109.000000  29109.000000  29109.000000  29109.000000
mean     4698.240819    1136.165859      1.595829      4.724518    706.122849
std     10051.533506    2959.118830      1.866876     10.976201    146.732250
min        14.000000       0.000000      1.000000      1.000000    504.000000
25%      1124.000000     168.000000      1.000000      1.000000    577.000000
50%      1869.000000     434.000000      1.000000      2.000000    677.000000
75%      4209.000000    1007.000000      2.000000      4.000000    819.000000
max    298882.000000  160962.000000     98.000000    422.000000   1051.000000

In [ ]:
file_3 = file_2.groupby(['Company Name']).sum()

In [ ]:
file_2

       Quarter         Country   Company Name  ... Orders  Units  Recency
0      FY19'Q1       Australia      Customer1  ...      1      3     1019
1      FY19'Q1  United Kingdom      Customer2  ...      1      1     1001
2      FY19'Q1   United States      Customer3  ...      1      3      962
3      FY19'Q1   United States      Customer4  ...      2     16     1005
4      FY19'Q1   United States      Customer5  ...      1      4     1036
...        ...             ...            ...  ...    ...    ...      ...
29104  FY20'Q2  United Kingdom  Customer20022  ...      1      1      529
29105  FY20'Q2  United Kingdom  Customer20023  ...      1      1      513
29106  FY20'Q2  United Kingdom  Customer20024  ...      1      1      535
29107  FY20'Q2  United Kingdom  Customer20025  ...      1      1      548
29108  FY20'Q2  United Kingdom  Customer20026  ...      1      1      508

[29109 rows x 9 columns]

In [ ]:
len(file_2['Company Name'].unique())

20026

In [ ]:
print(file_2['Company Name'])

0            Customer1
1            Customer2
2            Customer3
3            Customer4
4            Customer5
             ...
29104    Customer20022
29105    Customer20023
29106    Customer20024
29107    Customer20025
29108    Customer20026
Name: Company Name, Length: 29109, dtype: object

In [ ]:
file_3

              Revenue  Margin  Orders  Units  Recency
Company Name
0                 458    50.0       1      1      997
Customer1        1586    47.0       1      3     1019
Customer10       4415  1677.0       5      8     1919
Customer100     17263  3633.0      11     13     3972
Customer1000     6832   858.0       1     10      971
...               ...     ...     ...    ...      ...
Customer9995     3348   222.0       2      6     1275
Customer9996     5024  1006.0       4      4     1388
Customer9997     5724   450.0       2     11      718
Customer9998    12292  4429.0       5     23     1995
Customer9999      549    40.0       1      1      731

[20026 rows x 5 columns]

In [25]:
file_3.to_csv(r'Q5_2.csv')

In [ ]:
##groupby se issue ho raha hai, the files saved after groupby aren't showing the customer id. rest the data is unique, not repetitive and no null values.
##feature selection is complete.
##will complete Q4 too in a while
##for Q6 i think we must focus on tier system.
##ho gaya index false karke rakha tha :)